/* IBM Plex Sans - all weights */
@import "@fontsource/ibm-plex-sans/400.css";
@import "@fontsource/ibm-plex-sans/400-italic.css";
@import "@fontsource/ibm-plex-sans/500.css";
@import "@fontsource/ibm-plex-sans/500-italic.css";
@import "@fontsource/ibm-plex-sans/600.css";
@import "@fontsource/ibm-plex-sans/600-italic.css";
@import "@fontsource/ibm-plex-sans/700.css";
@import "@fontsource/ibm-plex-sans/700-italic.css";

/* IBM Plex Mono - all weights */
@import "@fontsource/ibm-plex-mono/400.css";
@import "@fontsource/ibm-plex-mono/400-italic.css";
@import "@fontsource/ibm-plex-mono/500.css";
@import "@fontsource/ibm-plex-mono/500-italic.css";
@import "@fontsource/ibm-plex-mono/600.css";
@import "@fontsource/ibm-plex-mono/600-italic.css";
@import "@fontsource/ibm-plex-mono/700.css";
@import "@fontsource/ibm-plex-mono/700-italic.css";

/* Caveat - handwriting font */
@import "@fontsource/caveat/400.css";
@import "@fontsource/caveat/500.css";
@import "@fontsource/caveat/600.css";
